/***********Reset**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px 20px;
}

/******** Header ********/

header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px;
}

.logo img {
  width: 70%;
  padding: 10px;
}

/********** Menu ********/
.menu a {
  padding: 10px;
  text-decoration: none;
  margin-right: 10px;
}

.menu {
  display: flex;
  list-style: none;
  font-size: 20px;
  gap: 10px;
}

.menu:hover {
  color: brown;
  text-decoration: underline;
}

/********** categori boks ******/
.category_section h1 {
  margin: 80px 0 0 100px;
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: auto;
  padding: 20px 90px;
}

.category_box {
  display: flex;
  text-decoration: none;
  border-radius: 8px;
  background-color: rgb(147, 142, 142);
  padding: 50px 70px;
  font-size: 20px;
}

.category_box:hover {
  background-color: brown;
  text-decoration: underline;
}

/************* Product list side *********/
h1 {
  margin: 5vh 5vw;
  font-size: 35px;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.product_card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  background: white;
  padding: 15px;
  position: relative;
}

.product_card * {
  text-decoration: none;
}

.product_image {
  position: relative;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product_image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product_info {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  margin-top: 20px;
}

.product_info h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.category {
  color: #777;
  font-size: 16px;
}

.price,
.price_prev,
.price_discount {
  font-size: 18px;
  margin: 5px 0;
  color: black;
}

.discount {
  color: red;
  font-size: 18px;
}

.read_more {
  display: inline-block;
  margin-top: 10px;
  color: black;
  text-decoration: underline;
}

.read_more:hover {
  color: red;
}

.sold_out {
  opacity: 0.5;
}

.sold_out_box {
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.discount {
  position: absolute;
  bottom: 60px;
  right: 15px;
  background: rgb(255, 4, 4);
  color: black;
  padding: 10px;
  font-size: 16px;
}

/************** Produkt siden ************/

h4 {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 30px;
  opacity: 25%;
}

.product_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: start;
  margin-top: 80px;
}

.product_image img {
  width: 100%;
  height: auto;
  margin-left: 30px;
}

.product_details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.product_details h2 {
  font-weight: bold;
  font-size: 25px;
}

.product_details p {
  font-size: 17px;
  margin-top: 20px;
}

.purchase_box {
  background: #b2b0b0;
  padding: 50px 40px;
  width: 80%;
  opacity: 70%;
  color: white;
}

.purchase_box h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.category {
  color: rgb(40, 39, 39);
  font-size: 17px;
  margin-bottom: 50px;
}

label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.add_to_cart {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
}

.add_to_cart:hover {
  background-color: rgb(166, 166, 231);
}

/*************** Media for mindre skærme ***********/
@media (max-width: 768px) {
  .category_list_container,
  .product_list_container,
  .product_container {
    grid-template-columns: 1fr;
    padding: 40px;
  }

  .product_container {
    text-align: center;
    justify-items: center;
  }

  .product_details {
    align-items: center;
  }

  .purchase_box {
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .category_list_container,
  .product_list_container,
  .product_container {
    grid-template-columns: 1fr;
  }

  .product_container {
    text-align: center;
    justify-items: center;
  }

  .product_details {
    align-items: center;
  }

  .purchase_box {
    width: 100%;
    text-align: center;
  }

  .logo img {
    width: 100%;
  }

  .menu {
    font-size: 12px;
    margin-top: 10px;
  }
}
